.movie .movie__data .moreBtn{
    margin-top:30px;
    float:right;
}

.movies .movie a {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
  }